.grid_contact {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 70%; }

.grid_form_contact {
  display: grid;
  padding: 2em 3em 0em 3em;
  grid-template-areas: "name map" "email map" "menssage map" "button button";
  grid-column-gap: 1em;
  grid-template-columns: 1fr 1fr; }

.name {
  grid-area: name;
  display: grid;
  grid-template-columns: 1fr; }

.map {
  height: 100%;
  width: 100%;
  grid-area: map;
  display: grid;
  grid-template-areas: "iframe" "a" "a" "a";
  grid-template-rows: 10fr 1fr 1fr 1fr; }

.email {
  grid-area: email;
  display: grid;
  grid-template-columns: 1fr; }

.menssage {
  grid-area: menssage;
  display: grid;
  grid-template-columns: 1fr; }

.button {
  grid-area: button;
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.secction_box_contacto {
  margin: 1em;
  margin-bottom: 5em;
  background-color: #c4c6bf; }

.box_contacto {
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

.box_contacto_inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.box_contacto_map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }

.text_inputs_contact {
  padding: 0.5em;
  font-size: 20px;
  text-align: center; }

.input_contact {
  border-radius: 6px;
  min-height: 2em;
  width: 100%;
  border: 2px solid #8a8d88; }

.links_contact {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-left: 1em; }
  .links_contact:hover {
    color: #970303; }

.icons_links_contact {
  margin-right: 0.5em; }
  .icons_links_contact:hover {
    color: #970303; }

.map_contact {
  width: 100%;
  height: 95%;
  border-radius: 7px;
  border: 2px solid #a1a59f; }

.btn_send_contact {
  background-color: #5a3fc7;
  border-radius: 5px;
  border: 1px solid #5a3fc7;
  padding: 5px 50px 5px 50px;
  font-size: 21px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 4px 3px 5px black; }
  .btn_send_contact:hover {
    background-color: #3f9cc7;
    border: 1px solid #3f9cc7; }

.secction_nosotros {
  padding: 2em; }

.texto_nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.img_nosotros {
  max-width: 100%;
  box-shadow: 4px 4px 14px black; }

.overflow_hidden {
  overflow: hidden; }

.div_img_nosotros {
  max-height: 60vh;
  align-items: center;
  display: flex; }

.articles_index {
  display: inline-block; }
  .articles_index h2 {
    text-align: center; }

section article p {
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif; }

section article h2 {
  font-family: 'Times New Roman', Times, serif; }

.grid_galery {
  display: grid;
  grid-template-columns: 34% 33% 33%; }
  .grid_galery .grid_column, .grid_galery .galery_column_1, .grid_galery .galery_column_2, .grid_galery .galery_column_3 {
    display: grid;
    height: inherit;
    grid-template-columns: 100%;
    grid-column-gap: 1em; }
  .grid_galery .galery_column_1 {
    grid-template-rows: 35% 25% 40%; }
  .grid_galery .galery_column_2 {
    grid-template-rows: 25% 45% 30%; }
  .grid_galery .galery_column_3 {
    grid-template-rows: 30% 30% 40%; }

.div_img_galery_1, .div_img_galery_2, .div_img_galery_3, .div_img_galery_4, .div_img_galery_5, .div_img_galery_6, .div_img_galery_7, .div_img_galery_8, .div_img_galery_9 {
  overflow: hidden;
  border: 2px solid #383838;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .div_img_galery_1 img, .div_img_galery_2 img, .div_img_galery_3 img, .div_img_galery_4 img, .div_img_galery_5 img, .div_img_galery_6 img, .div_img_galery_7 img, .div_img_galery_8 img, .div_img_galery_9 img {
    width: -webkit-fill-available;
    min-height: -webkit-fill-available; }
  .div_img_galery_1:hover .titulo_sobre_img, .div_img_galery_2:hover .titulo_sobre_img, .div_img_galery_3:hover .titulo_sobre_img, .div_img_galery_4:hover .titulo_sobre_img, .div_img_galery_5:hover .titulo_sobre_img, .div_img_galery_6:hover .titulo_sobre_img, .div_img_galery_7:hover .titulo_sobre_img, .div_img_galery_8:hover .titulo_sobre_img, .div_img_galery_9:hover .titulo_sobre_img, .div_img_galery_1:hover .texto_sobre_img, .div_img_galery_2:hover .texto_sobre_img, .div_img_galery_3:hover .texto_sobre_img, .div_img_galery_4:hover .texto_sobre_img, .div_img_galery_5:hover .texto_sobre_img, .div_img_galery_6:hover .texto_sobre_img, .div_img_galery_7:hover .texto_sobre_img, .div_img_galery_8:hover .texto_sobre_img, .div_img_galery_9:hover .texto_sobre_img {
    display: block; }
  .div_img_galery_1:hover .texto_sobre_img, .div_img_galery_2:hover .texto_sobre_img, .div_img_galery_3:hover .texto_sobre_img, .div_img_galery_4:hover .texto_sobre_img, .div_img_galery_5:hover .texto_sobre_img, .div_img_galery_6:hover .texto_sobre_img, .div_img_galery_7:hover .texto_sobre_img, .div_img_galery_8:hover .texto_sobre_img, .div_img_galery_9:hover .texto_sobre_img {
    display: block; }
  .div_img_galery_1:hover .container_text_img, .div_img_galery_2:hover .container_text_img, .div_img_galery_3:hover .container_text_img, .div_img_galery_4:hover .container_text_img, .div_img_galery_5:hover .container_text_img, .div_img_galery_6:hover .container_text_img, .div_img_galery_7:hover .container_text_img, .div_img_galery_8:hover .container_text_img, .div_img_galery_9:hover .container_text_img {
    display: block; }
  .div_img_galery_1:hover img, .div_img_galery_2:hover img, .div_img_galery_3:hover img, .div_img_galery_4:hover img, .div_img_galery_5:hover img, .div_img_galery_6:hover img, .div_img_galery_7:hover img, .div_img_galery_8:hover img, .div_img_galery_9:hover img {
    filter: brightness(0.5);
    transition: 1s; }

.titulo_sobre_img, .texto_sobre_img {
  display: none;
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 25px;
  text-align: center; }

.texto_sobre_img {
  margin-top: 3em; }

.seccion_faq_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em; }

.box_faq_question {
  border: 2px solid #970303;
  background-color: #d3b5ac;
  padding: 1em;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em; }
  .box_faq_question:hover + .box_faq_answer {
    transition: 1s;
    border: 2px solid #ae0000;
    padding: 1em;
    height: auto;
    overflow: visible; }

.box_faq_question + .box_faq_answer p {
  color: #ffffff00; }

.box_faq_question:hover + .box_faq_answer p {
  transition: 2s;
  color: #ffffff; }

.box_faq_answer {
  background: #ae0000;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border: 0px solid #ae0000;
  height: 0px;
  overflow: hidden;
  min-width: 100%; }

.icon_faq_question {
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #a30403; }

.text_faq_question {
  margin: 0px; }

.text_faq_answer {
  margin: 0px; }

.div_container_img_title_pag {
  display: contents; }

.img_title_pag {
  width: -webkit-fill-available;
  width: -moz-available;
  filter: opacity(0.8); }

.box_title_pag {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  max-height: 20em;
  overflow: hidden;
  box-shadow: inset 0px -20px 20px 12px #363635; }

main {
  min-height: calc(100vh - 8em); }

.titulo_pag, .titulo_pag_home {
  display: flex;
  top: 3.8em;
  position: absolute;
  left: 1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 52px;
  color: #c31515;
  text-shadow: 6px 4px 7px black; }

hr {
  border-radius: 100%;
  border: 0.1px solid #b7b7b7;
  margin: 1em; }

.logo {
  height: 2.5em;
  margin: 2px; }

.titulo_pag_home {
  top: 2.2em; }

.carrusel_div {
  display: flex;
  flex-wrap: wrap;
  max-height: 20em;
  overflow: hidden;
  box-shadow: inset 1px -11px 20px 0px #363635; }

.img_carrusel {
  width: -webkit-fill-available;
  width: -moz-available;
  filter: opacity(0.8); }

.box_home_flex {
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center; }

.box_home_title {
  color: white;
  max-height: 38vh;
  position: absolute;
  background-color: #547071;
  padding: 1em;
  left: 3em;
  overflow: hidden;
  max-width: 49vw;
  height: auto;
  box-shadow: 4px 6px 8px 1px #363635; }
  .box_home_title h1 {
    margin: 0px; }

.box_home_img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 54vw;
  box-shadow: 4px 6px 12px 1px black;
  margin-right: 2em; }
  .box_home_img img {
    width: 54vw; }

.box_home_detaill_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

.box_home_detaill_img {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  max-width: 20vw;
  background-color: #b0b3ac;
  margin-bottom: 2em;
  box-shadow: 4px 6px 12px 1px black; }
  .box_home_detaill_img p {
    text-align: center; }
  .box_home_detaill_img h2 {
    text-align: center; }
  .box_home_detaill_img img {
    box-shadow: 3px 2px 4px 0px black; }

header {
  display: flex;
  background-color: #c5c5bf;
  position: sticky;
  top: 0px;
  z-index: 1000; }

nav {
  width: 100%;
  justify-content: space-between; }

.nav_active {
  color: black; }
  .nav_active:hover {
    color: #ff0202; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  background-color: #c5c5bf;
  height: 3.5em;
  padding-right: 2em;
  width: 100%;
  position: absolute; }
  footer p {
    text-align: end;
    color: black;
    margin: 0; }

@media (max-width: 990px) {
  .titulo_sobre_img, .texto_sobre_img {
    font-size: 18px; }
  .texto_sobre_img {
    font-size: 12px; } }

@media (max-width: 768px) {
  .carrusel_div {
    max-height: 13em; }
  .titulo_pag, .titulo_pag_home {
    top: 2.5em; }
  .titulo_pag_home {
    top: 1.2em; }
  .titulo_sobre_img, .texto_sobre_img {
    font-size: 15px; }
  .texto_sobre_img {
    font-size: 10px; }
  .box_title_pag {
    max-height: 12em; }
  .box_home_flex {
    flex-direction: column; }
  .box_home_title {
    left: 1em;
    position: inherit;
    max-width: 90%; }
    .box_home_title p {
      font-size: 18px;
      margin: 0; }
    .box_home_title h1 {
      font-size: 22px; }
  .box_home_img {
    width: 97.5%;
    margin-right: 0; }
    .box_home_img img {
      width: 100%; }
  .box_home_detaill_img {
    padding: 1em;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    background-color: #b0b3ac;
    margin: 2em;
    margin-top: 0; }
    .box_home_detaill_img p {
      font-size: 18px;
      margin: 0; }
    .box_home_detaill_img h2 {
      font-size: 22px;
      margin: 0;
      margin-top: 0.8em; }
  .box_home_detaill_flex {
    flex-direction: column; } }

@media (max-width: 576px) {
  .grid_galery {
    display: grid;
    grid-template-columns: 50% 50%; }
    .grid_galery .galery_column_3 {
      grid-column: span 2;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 100%;
      grid-column-gap: 0em; }
    .grid_galery .div_img_galery_9 {
      display: none; }
  .grid_form_contact {
    grid-template-areas: "map" "name" "email" "menssage" "button";
    grid-template-columns: 1fr;
    grid-row-gap: 0.5em; }
  .grid_contact {
    grid-template-rows: 1fr auto; }
  .carrusel_div {
    max-height: 8em; }
  .titulo_pag, .titulo_pag_home {
    top: 5em;
    font-size: 25px; }
  .titulo_pag_home {
    top: 1.5em;
    font-size: 25px; }
  .box_home_flex {
    flex-direction: column; }
  .box_home_title {
    left: 1em;
    position: inherit;
    max-width: 90%; }
    .box_home_title p {
      font-size: 12px;
      margin: 0; }
    .box_home_title h1 {
      font-size: 18px; }
  .box_home_img {
    width: 97.5%;
    margin-right: 0; }
    .box_home_img img {
      width: 100%; }
  .box_home_detaill_img {
    padding: 1em;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    background-color: #b0b3ac;
    margin: 2em;
    margin-top: 0; }
    .box_home_detaill_img p {
      font-size: 12px;
      margin: 0; }
    .box_home_detaill_img h2 {
      font-size: 18px;
      margin: 0;
      margin-top: 0.8em; }
  .box_home_detaill_flex {
    flex-direction: column; }
  footer {
    height: 2.5em; }
    footer p {
      font-size: 9px; }
  .titulo_sobre_img, .texto_sobre_img {
    font-size: 10px; }
  .texto_sobre_img {
    font-size: 8px; }
  .box_title_pag {
    max-height: 8em; } }

* {
  margin: 0px;
  user-select: none; }

body {
  background-color: #ced5df; }
