    html {
        min-height: 100%;
        position: relative;
    }
    
    body {
        margin: 0px;
        overflow-x: hidden;
        background-color: #ced5df;
    }
    
    header {
        display: flex;
        background-color: rgb(197, 197, 191);
        position: sticky;
        top: 0px;
        z-index: 1000;
    }
    
    main {
        margin-bottom: 5em;
    }
    
    footer {
        position: absolute;
        background-color: rgb(197, 197, 191);
        width: 100vw;
        bottom: 0;
    }
    
    footer p {
        text-align: end;
        margin-right: 2em;
        font-weight: bold;
    }
    
    nav {
        display: flex;
        width: 100vw;
        align-items: center;
        margin-right: 1em;
    }
    
    nav a {
        text-decoration: none;
    }
    
    .nav_desplegado {
        width: 100%;
        height: 100%;
        margin: 0;
        justify-content: flex-end;
        display: flex;
    }
    
    .nav_desplegado li {
        list-style-type: none;
        display: flex;
        justify-content: center;
        width: 6em;
        margin-right: 0.5em;
        margin-left: 0.5em;
    }
    
    hr {
        border-radius: 100%;
        border: 0.1px solid #b7b7b7;
        margin: 1em;
    }
    
    .nav_desplegado li a {
        color: black;
        align-items: center;
        display: flex;
        text-shadow: 5px 2px 4px #000000ad;
    }
    
    .nav_desplegado li a:hover {
        color: rgb(255, 0, 0);
        font-size: 20px;
    }
    
    .secction_nosotros {
        padding: 2em;
    }
    
    .logo {
        height: 4em;
        margin: 2px;
    }
    
    .carrusel_div {
        display: flex;
        flex-wrap: wrap;
        max-height: 20em;
        overflow: hidden;
        box-shadow: inset 1px -11px 20px 0px #363635;
    }
    
    .titulo_home {
        display: flex;
        top: 2.8em;
        position: absolute;
        left: 1em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        font-size: 52px;
        color: #27c7d9;
        text-shadow: 6px 4px 7px black;
    }
    
    .img_carrusel {
        width: -webkit-fill-available;
        filter: opacity(0.5);
    }
    
    .img_carrusel:hover {
        width: -webkit-fill-available;
        filter: opacity(0.5);
    }
    
    .img_club_fl_left {
        float: left;
        width: 50%;
        /* border-radius: 11px; */
        margin-right: 1em;
        /* margin-bottom: 1em;
    margin-top: 1em; */
        box-shadow: 4px 4px 14px black;
    }
    
    .img_club_fl_rigth {
        float: right;
        width: 50%;
        /* border-radius: 11px; */
        margin-left: 1em;
        /* margin-bottom: 1em;
    margin-top: 1em; */
        box-shadow: 4px 4px 14px black;
    }
    
    .div_container_img_carrusel {
        display: contents;
    }
    
    .articles_index {
        display: inline-block;
    }
    
    .articles_index h2 {
        text-align: center;
    }
    
    section article p {
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
    }
    
    section article h2 {
        font-family: 'Times New Roman', Times, serif;
    }
    
    .flex_box_img {
        padding-left: 2em;
        padding-right: 2em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .box_boxes_img_1 {
        display: flex;
        height: 87vh;
        width: 35%;
        flex-direction: column;
    }
    
    .box_boxes_img_2 {
        display: flex;
        height: 87vh;
        width: 30%;
        flex-direction: column;
    }
    
    .box_boxes_img_3 {
        display: flex;
        height: 87vh;
        width: 35%;
        flex-direction: column;
    }
    
    .box_img1 {
        display: flex;
        height: 25%;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }
    
    .box_img2 {
        display: flex;
        height: 40%;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }
    
    .box_img3 {
        display: flex;
        height: 35%;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }
    
    .box_img4 {
        display: flex;
        height: 35%;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }
    
    .box_img5 {
        display: flex;
        height: 25%;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }
    
    .box_img6 {
        display: flex;
        height: 40%;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }
    
    .box_img7 {
        display: flex;
        height: 33%;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }
    
    .box_img8 {
        display: flex;
        height: 33%;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }
    
    .box_img9 {
        display: flex;
        height: 34%;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }
    
    .titulo_sobre_img {
        color: white;
        font-weight: bold;
        font-size: 25px;
        text-align: center;
    }
    
    .texto_sobre_img {
        color: white;
        font-size: 20px;
        text-align: center;
    }
    
    .container_text_img {
        display: none;
    }
    
    .img_1_galery {
        width: -webkit-fill-available;
    }
    
    .img_1_galery:hover {
        filter: brightness(0.5);
        transition: 1s;
    }
    
    .box_img1:hover .img_1_galery {
        filter: brightness(0.5);
        transition: 1s;
    }
    
    .box_img1:hover .container_text_img {
        transition: 1s;
        display: block;
        position: absolute;
    }
    
    .box_img2:hover .img_1_galery {
        filter: brightness(0.5);
        transition: 1s;
    }
    
    .box_img2:hover .container_text_img {
        display: block;
        position: absolute;
        transition: 1s;
    }
    
    .box_img3:hover .img_1_galery {
        filter: brightness(0.5);
        transition: 1s;
    }
    
    .box_img3:hover .container_text_img {
        display: block;
        position: absolute;
        transition: 1s;
    }
    
    .box_img4:hover .container_text_img {
        display: block;
        position: absolute;
        transition: 1s;
    }
    
    .box_img4:hover .img_1_galery {
        filter: brightness(0.5);
        transition: 1s;
    }
    
    .box_img5:hover .container_text_img {
        display: block;
        position: absolute;
        transition: 1s;
    }
    
    .box_img5:hover .img_1_galery {
        filter: brightness(0.5);
        transition: 1s;
    }
    
    .box_img6:hover .container_text_img {
        display: block;
        position: absolute;
        transition: 1s;
    }
    
    .box_img6:hover .img_1_galery {
        filter: brightness(0.5);
        transition: 1s;
    }
    
    .box_img7:hover .container_text_img {
        display: block;
        position: absolute;
        transition: 1s;
    }
    
    .box_img7:hover .img_1_galery {
        filter: brightness(0.5);
        transition: 1s;
    }
    
    .box_img8:hover .container_text_img {
        display: block;
        position: absolute;
        transition: 1s;
    }
    
    .box_img8:hover .img_1_galery {
        filter: brightness(0.5);
        transition: 1s;
    }
    
    .box_img9:hover .container_text_img {
        display: block;
        position: absolute;
        transition: 1s;
    }
    
    .box_img9:hover .img_1_galery {
        filter: brightness(0.5);
        transition: 1s;
    }
    
    .box_home_flex {
        padding: 2em;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
    }
    
    .box_home_title {
        max-height: 38vh;
        position: absolute;
        background-color: #938e80;
        padding: 1em;
        left: 3em;
        overflow: hidden;
        max-width: 49vw;
        height: 34vh;
        box-shadow: 4px 6px 8px 1px #363635;
    }
    
    .box_home_title h1 {
        margin: 0px;
    }
    
    .box_home_img {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        height: 55vh;
        width: 54vw;
        box-shadow: 4px 6px 12px 1px black;
        margin-right: 2em;
    }
    
    .box_home_img img {
        width: 54vw;
    }
    
    .box_home_detaill_flex {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
    }
    
    .box_home_detaill_img {
        padding: 1em;
        display: flex;
        flex-direction: column;
        max-width: 20vw;
        background-color: #b0b3ac;
        margin-bottom: 2em;
        box-shadow: 4px 6px 12px 1px black;
    }
    
    .box_home_detaill_img img {
        box-shadow: 3px 2px 4px 0px black;
    }
    
    .seccion_faq_flex {
        display: flex;
        flex-direction: column;
        padding: 2em;
    }
    
    .box_faq_question {
        border: 2px solid #970303;
        background-color: #d3b5ac;
        padding: 1em;
        display: flex;
        margin-top: 2em;
        justify-content: space-between;
    }
    
    .box_faq_question:hover+.box_faq_answer {
        transition: 2s;
        border: 2px solid #ae0000;
        padding: 1em;
        height: auto;
        overflow: visible;
    }
    
    .box_faq_question+.box_faq_answer p {
        color: #ffffff00;
    }
    
    .box_faq_question:hover+.box_faq_answer p {
        transition: 2s;
        color: #ffffff;
    }
    
    .box_faq_answer {
        background: #ae0000;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
        border: 0px solid #ae0000;
        height: 0px;
        overflow: hidden;
    }
    
    .icon_faq_question {
        margin: 0px;
        align-items: center;
        display: flex;
        font-size: 25px;
        color: #a30403;
    }
    
    .text_faq_question {
        margin: 0px
    }
    
    .text_faq_answer {
        margin: 0px
    }
    
    .box_title_pag {
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        max-height: 15em;
        overflow: hidden;
        box-shadow: inset 0px -20px 20px 12px #363635;
    }
    
    .titulo_pag {
        display: flex;
        top: 2em;
        position: absolute;
        left: 1em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        font-size: 52px;
        color: #ae0000;
        text-shadow: 2px 4px 9px #584343;
    }
    
    .div_container_img_title_pag {
        display: contents;
    }
    
    .img_title_pag {
        width: -webkit-fill-available;
        filter: opacity(0.8);
    }
    
    .secction_box_contacto {
        margin: 1em;
        margin-bottom: 5em;
        background-color: #c4c6bf;
    }
    
    .box_contacto {
        padding: 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .box_contacto_inputs {
        display: flex;
        flex-direction: column;
    }
    
    .box_contacto_map {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .text_inputs_contact {
        padding: 0.5em;
        font-size: 20px;
        text-align: center;
    }
    
    .input_contact {
        border-radius: 6px;
        min-height: 2em;
        width: 100%;
        border: 2px solid #8a8d88;
    }
    
    .links_contact {
        text-decoration: none;
        color: black;
        font-size: 20px;
        margin-left: 1em;
    }
    
    .icons_links_contact {
        margin-right: 0.5em;
    }
    
    .icons_links_contact:hover {
        color: #970303;
    }
    
    .links_contact:hover {
        color: #970303;
    }
    
    .map_contact {
        width: 100%;
        height: 95%;
        border-radius: 7px;
        border: 2px solid #a1a59f;
    }
    
    .flex_box_button_send {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .btn_send_contact {
        background-color: #5a3fc7;
        border-radius: 5px;
        border: 1px solid #5a3fc7;
        padding: 5px 50px 5px 50px;
        font-size: 21px;
        font-weight: bold;
        cursor: pointer;
        box-shadow: 4px 3px 5px black;
    }
    
    .btn_send_contact:hover {
        background-color: #3f9cc7;
        border: 1px solid #3f9cc7;
    }
    
    .grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30% 70%;
    }
    
    .box_container_title_pag {
        flex-wrap: wrap;
        max-height: 15em;
        overflow: hidden;
        box-shadow: inset 0px -20px 20px 12px #363635;
    }
    
    .grid_form_contact {
        display: grid;
        padding: 2em 3em 0em 3em;
        grid-template-areas: "name map" "email map" "menssage map" "button button";
        grid-column-gap: 1em;
        grid-template-columns: 1fr 1fr;
    }
    
    .name {
        grid-area: name;
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .map {
        height: 100%;
        width: 100%;
        grid-area: map;
        display: grid;
        grid-template-areas: "iframe" "a" "a" "a";
        grid-template-rows: 10fr 1fr 1fr 1fr;
    }
    
    .email {
        grid-area: email;
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .menssage {
        grid-area: menssage;
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .button {
        grid-area: button;
        margin-top: 2em;
        display: flex;
        justify-content: center;
    }
    
    .btn_ham {
        width: 1.5em;
        background: #5a3fc7;
    }
    
    .btn_ham:hover {
        background: #6a657d;
    }
    
    .desplegable {
        visibility: hidden;
        position: absolute;
        background: #9b9d97;
        right: 2em;
        top: 4em;
        border-radius: 5px;
        z-index: 9999;
    }
    
    .desplegable ul {
        margin: 0;
        padding: 0;
    }
    
    .desplegable ul li {
        list-style-type: none;
        margin-bottom: .5em;
        padding: 0.5em;
    }
    
    .desplegable ul li a {
        color: black;
    }
    
    .desplegable ul li:hover {
        background-color: #c1c0c0;
    }
    
    .btn_ham:hover+.desplegable {
        visibility: visible;
    }
    
    @media (max-width:576px) {
        .grid_form_contact {
            grid-template-areas: "map" "name" "email" "menssage" "button";
            grid-column-gap: 1em;
            grid-template-columns: 1fr;
        }
        .grid {
            grid-template-rows: 1fr auto;
        }
        .nav_desplegado {
            display: none;
        }
        .box_hamburger {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: flex-end;
        }
    }
    
    @media screen and(max-width:768px) {}