.grid_contact {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
}

.grid_form_contact {
    display: grid;
    padding: 2em 3em 0em 3em;
    grid-template-areas: "name map" "email map" "menssage map" "button button";
    grid-column-gap: 1em;
    grid-template-columns: 1fr 1fr;
}

.name {
    grid-area: name;
    display: grid;
    grid-template-columns: 1fr;
}

.map {
    height: 100%;
    width: 100%;
    grid-area: map;
    display: grid;
    grid-template-areas: "iframe" "a" "a" "a";
    grid-template-rows: 10fr 1fr 1fr 1fr;
}

.email {
    grid-area: email;
    display: grid;
    grid-template-columns: 1fr;
}

.menssage {
    grid-area: menssage;
    display: grid;
    grid-template-columns: 1fr;
}

.button {
    grid-area: button;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
}

.secction_box_contacto {
    margin: 1em;
    margin-bottom: 5em;
    background-color: #c4c6bf;
}

.box_contacto {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.box_contacto_inputs {
    display: flex;
    flex-direction: column;
}

.box_contacto_map {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text_inputs_contact {
    padding: 0.5em;
    font-size: 20px;
    text-align: center;
}

.input_contact {
    border-radius: 6px;
    min-height: 2em;
    width: 100%;
    border: 2px solid #8a8d88;
}

.links_contact {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 1em;
    &:hover {
        color: #970303;
    }
}

.icons_links_contact {
    margin-right: 0.5em;
    &:hover {
        color: #970303;
    }
}

.map_contact {
    width: 100%;
    height: 95%;
    border-radius: 7px;
    border: 2px solid #a1a59f;
}

.btn_send_contact {
    background-color: #5a3fc7;
    border-radius: 5px;
    border: 1px solid #5a3fc7;
    padding: 5px 50px 5px 50px;
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 4px 3px 5px black;
    &:hover {
        background-color: #3f9cc7;
        border: 1px solid #3f9cc7;
    }
}