footer {
    @include propiedades-flex(row, end, center);
    background-color: $background_color_nav_footer;
    bottom: 0;
    height: 3.5em;
    padding-right: 2em;
    p {
        text-align: end;
        color: black;
        margin: 0;
    }
}