footer {
    position: absolute;
    background-color: rgb(197, 197, 191);
    width: 100vw;
    bottom: 0;
    height: 3.5em;
    p {
        margin-top: revert;
        text-align: end;
        margin-right: 2em;
        color: black;
    }
}