header {
    display: flex;
    background-color: $background_color_nav_footer;
    position: sticky;
    top: 0px;
    z-index: 1000;
}

nav {
    width: 100%;
    justify-content: space-between;
}

.nav_active {
    color: black;
    &:hover {
        color: #ff0202;
    }
}