.secction_nosotros {
    padding: 2em;
}
.texto_nosotros{
    @include propiedades-flex(column, center, center);
}
.img_nosotros {
    max-width: 100%;
    box-shadow: 4px 4px 14px black;
}

.overflow_hidden{
    overflow: hidden;
}
.div_img_nosotros{
    max-height: 60vh;
    align-items: center;
    display: flex;
}
.articles_index {
    display: inline-block;
    h2 {
        text-align: center;
    }
}

section {
    article {
        p {
            font-size: 18px;
            font-family: 'Times New Roman', Times, serif;
        }
        h2 {
            font-family: 'Times New Roman', Times, serif;
        }
    }
}